* {
    max-width: 100vw;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -0.005rem;
}

a {
    text-decoration: none;
    color: #000;
}

/* NAVBAR */
.nav-mylibras {
    top: 0;
    max-width: 100vw;
    height: 4.375rem;
    background-color: #4BA1DB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 5px #1F445CB3;
    border-radius: 0px 0px 5px 5px;
    padding: 0 3rem;
    position: relative;
    z-index: 999;
}

/* SUBSTITUIR PELA LOGO */
#logo {
    font-size: 2.25rem;
    font-weight: 700;
    color: #000;
}

/* */

.nav-option {
    font-size: 0.8rem;
    font-weight: 600;
    color: #13374F;
}

.nav-option:hover {
    color: #000;
}

.nav-btn{
    background-color: #FFF;
    font-size: 0.8rem;
    font-weight: 600;
    color: #1F445C;
    padding: .65rem;
    border-radius: 10px;
    margin-left: .8rem;
}

.nav-btn:hover{
    font-size: .9rem;
    transition: 10ms ease-in-out;
}

.nav-btn:active{
    font-size: .7rem;
    font-weight: 700;
    transition: 10ms ease-in-out;
}

/* MENU */
.menu-background {
    width: 100%;
    height: 100vh;
    z-index: -999;
    position: absolute;
}

#menu {
    margin-top: -0.875rem;
    padding-top: 0.875rem;
    background-color: #22638FB3;
    height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 998;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-title {
    font-family: 'Inter', sans-serif;
    font-size: 4.5rem;
    font-weight: 700;
    color: #FFF;
    margin-top: 15rem;
}

.menu-phrase {
    font-size: 1.5rem;
    font-weight: 500;
    color: #FFF;
    margin-top: 1.25rem;
}

.download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15rem;
}

.btn-download {
    height: 4.375rem;
    width: 17.5rem;
    background-color: #FFF;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 1.25rem;
}

.btn-download:active {
    transform: scale(.9);
    transition: transform 3ms ease-in-out;
}

.description {
    font-size: 1.125rem;
    font-weight: 500;
    color: #FFF;
}

/* FAQ */

#faq {
    max-width: 100vw;
    margin: 5rem 20vw 10rem 20vw;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
}

#faq-title {
    font-family: 'Inter', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color: #22638F;
    margin-bottom: 4rem;
}

.faq-list {
    list-style: none;
}

.question {
    margin-bottom: 3.125rem;
    color: #22638F;
}

.question-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}

.faq-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.see, .less {
    height: 1.25rem;
    width: 1.25rem;
    cursor: pointer;
}

.answer {
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
    display: none;
}
.show-answer{
    display: block;
}

hr {
    border: 0.063rem solid #22638F;
}

/* COMMERCE */
#commerce {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 9rem 10rem 9rem;
}

.commerce-title {
    font-family: 'Inter', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color: #22638F;
    text-align: center;
    margin: 5rem 0 4rem 0;
}

.commerce-right {
    background-color: #35729C;
    box-shadow: 0px 0px 5px 3px #1F445C;
    border-radius: 20px;
    padding: 3.313rem 4.188rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-title {
    font-family: 'Inter', sans-serif;
    font-size: 3.5rem;
    font-weight: 600;
    color: #FFF;
    margin-bottom: 1rem;
}

.form-label {
    font-size: 1.3rem;
    font-weight: 400;
    color: #FFF;
}

.form-input {
    box-sizing: border-box;
    width: 13.125rem;
    height: 2.188rem;
    background-color: #FFF;
    border: 1px solid #22638F;
    border-radius: 10px;
    padding: .8rem;
}

.form-space {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 1.875rem;
}

.form-space:nth-last-child(1) {
    margin-right: 0;
}

.form-row-company,
.form-row-owner {
    display: flex;
    flex-direction: row;
}

.commerce-register {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #1F445C;
    width: 7.5rem;
    height: 2.813rem;
    background-color: #FFF;
    box-shadow: 0px 0px 3px 1px #1F445C;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-left: 2.813rem;
}

.form-company {
    margin-bottom: 5.375rem;
}

.commerce-register:hover {
    transform: scale(1.1);
    transition: transform 20ms ease-in-out;
}

.commerce-register:active {
    transform: scale(.9);
    transition: transform 3ms ease-in-out;
}

/* ABOUT US */
.team{
    max-width: 100vw;
    height: 100vh;
    margin-top: -0.875rem;
    background-color: #35729C;
    padding: 0.875rem 10vw 10rem 10vw;
}

.title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.us-title {
    font-family: 'Inter', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color: #FFF;
    text-align: center;
    padding-top: 5rem;
    margin: 0 0 4rem 0;
}

.us-description{
    max-width: 60vw;
    font-size: 1.3rem;
    font-weight: 400;
    color: #FFF;
    text-align: justify;
}

.members {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.member-card{
    cursor: context-menu;
    max-width: 15rem;
    max-height: 20rem;
    border-radius: 20px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.8rem 1.3rem;
}

.member-card:hover{
    transform: scale(1.1);
    transition: transform 5ms ease-in-out;
}

.profile-pic{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

.member-name{
    font-size: 1.5rem;
    font-weight: 500;
    color: #22638F;
    text-align: center;
    margin-bottom: .3rem;
}

.occupation{
    font-size: 1.3rem;
    font-weight: 400;
    color: #22638F;
    margin-bottom: 1.1rem;
}

.social-media{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media{
    cursor: pointer;
    width: 2.2rem;
    height: 2.2rem;
    margin-bottom: 0;
}

.media:hover{
    transform: scale(1.1);
    transition: transform 3ms ease-in-out;
}

.media:active{
    transform: scale(.9);
    transition: transform 5ms ease-in-out;
}

.round{
    border-radius: 5px;
    margin-right: .5rem;
}

/* LOGIN */
.login-register{
    height: 100vh;
    max-width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 9rem 10rem 9rem;
}

.title-options{
    width: 60vw;
    display: flex;
    justify-content: center;
}
.title-options h1{
    font-family: 'Inter', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color: #22638F;
    text-align: center;
    padding-top: 5rem;
    margin: 0 0 4rem 0;
    margin-right: 1.2rem;
}
.title-options h1:last-child{
    margin-right: 0;
}

.login-option{
    cursor: pointer;
}

.login-option:hover{
    transform: scale(1.1);
    transition: transform 5ms ease-in-out;
}

.box{
    height: 60vh;
    width: 60vw;
    margin: .5rem;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .9s;
}

#login, #register{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    visibility: hidden;
}

.login-space{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    left: 0;
}

.login-txt{
    font-size: 2rem;
    font-weight: 400;
    color: #FFF;
    margin-bottom: .3rem;
}

.login-input{
    box-sizing: border-box;
    width: 12rem;
    height: 2.5rem;
    background-color: #FFF;
    border: 1px solid #22638F;
    border-radius: 10px;
    padding: .8rem;
}

.login-btn{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 400;
    height: 3.5rem;
    width: 12rem;
    border-radius: 20px;
    border: none;
    color: #1F445C;
    cursor: pointer;
}

.login-btn:hover{
    transform: scale(1.1);
    transition: transform 3ms ease-in-out;
}

.login-btn:active{
    transform: scale(.9);
    transition: transform 5ms ease-in-out;
}

.login-background{
    width: max-content;
    height: max-content;
    background-color: #35729C;
    border-radius: 20px;
    padding: 5rem;
    margin: auto;
}

.focus{
    visibility: visible !important;
}

/* FOOTER */
footer {
    bottom: 0;
    background-color: #404040;
    max-width: 100vw;
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rights {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #FFF;
}